// Game end alert
div#alert-game-ends.alert.alert-danger
    h2 GAME OVER &nbsp;&nbsp; <br><small>2 secs later will be a new game.</small>

// Game reset alert
div#alert-game-reset.alert.alert-warning
    h2 GAME RESET