// Game end alert
div#alert-game-ends.alert.alert-danger
    h2 GAME OVER &nbsp;&nbsp; <br><small>2 secs later will be a new game.</small>

// Game win alert
div#alert-game-wins.alert.alert-success
    h2 YOU WIN! &nbsp;&nbsp; <br><small>2 secs later will be a new game.</small>

// No one wins alert
div#alert-no-one-wins.alert.alert-warning
    h2 OOPS! NO ONE WINS! &nbsp;&nbsp; <br><small>2 secs later will be a new game.</small>

// Game reset alert
div#alert-game-reset.alert.alert-warning
    h2 GAME RESET